{% include "header.html" %}
{% block header %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Contact Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
<!--                    <a class="btn btn-app bg-warning" href="{{url_for('contacts.create_contact_list')}}">-->

<!--                  <i class="fas fa-plus"></i> Add Contact details-->
<!--                </a>-->

            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Contact Manage</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                 <form method="POST">
                    {{ form.hidden_tag() }}
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        {{ form.contact_name(class="form-control", placeholder="Enter Name") }}

                    </div>
                     <div class="form-outline mb-4">
                        {{ form.contact_nos(class="form-control", placeholder="Enter Mobile Number") }}

                    </div>

                 <div class="form-outline mb-4">
                          {{ form.contact_email(class="form-control", placeholder="Enter Email") }}
                    </div>

                      <div class="form-outline mb-4">




                            <select id="group1" name="group" class="form-control">
                                 {% for group in groups %}
            <option value="{{ group.id }}" {% if group.id == form.group.data %}selected{% endif %}>{{ group.group_name }}</option>
        {% endfor %}
                             </select>
                    </div>

                     



                      {{form.submit(class="btn btn-primary btn-block")}}


                </form>



              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->




  {% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

