{% include "header.html" %}
{% block header %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Group Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">


            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Group Manage</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                 <form method="POST">
                {{ form.hidden_tag() }}
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        {{ form.group_name(class="form-control", placeholder="Enter Group Name") }}

                    </div>

                 <div class="form-outline mb-4">
                          {{ form.group_description(class="form-control", placeholder="Enter Group Name") }}
                    </div>

                      {{form.submit(class="btn btn-primary btn-block")}}
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->




  {% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

