 {% block footer %}

    {% endblock %}
<!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2023 <a href="https://infobeans.com">Infobeans</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- overlayScrollbars -->
<script src="{{ url_for('static', filename='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='dist/js/adminlte.js')}}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{{ url_for('static', filename='plugins/jquery-mousewheel/jquery.mousewheel.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/raphael/raphael.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-mapael/jquery.mapael.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-mapael/maps/usa_states.min.js') }}"></script>
 <script src="{{ url_for('static', filename='plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>

<!-- AdminLTE for demo purposes -->
<script src="{{ url_for('static', filename='dist/js/demo.js') }}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->



 <script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
 <script src="{{ url_for('static', filename='plugins/select2/js/select2.full.min.js') }}"></script>

 <script src="{{ url_for('static', filename='plugins/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/inputmask/jquery.inputmask.min.js') }}"></script>


 <!-- bootstrap color picker -->
<script src="{{ url_for('static', filename='plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js') }}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ url_for('static', filename='plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<!-- BS-Stepper -->
<script src="{{ url_for('static', filename='plugins/bs-stepper/js/bs-stepper.min.js') }}"></script>
<!-- dropzonejs -->
<script src="{{ url_for('static', filename='plugins/dropzone/min/dropzone.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/adminlte.min.js')}}"></script>


</body>
</html>